.add-tour {
}

.add-tour form,
select {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.add-tour form input,
.add-tour form select,
.description-field {
  width: 40%;
  margin-top: 20px;
  background-color: rgb(250, 250, 250);

  padding: 10px;
  border-radius: 5px;
  outline: 0;
  border: 0;
  border: 1px solid gray;
}
textarea {
  margin-top: 20px;
}
.btn-submit {
  margin-top: 20px;
  width: 40%;
  background-color: #f89941 !important;
  font-size: 18px !important;
  color: white !important;
  transition: 0.3s !important;
}
.btn-submit:hover {
  color: white;
  background-color: #ff7b00 !important;
  letter-spacing: 3px;
}
