.tour-details-container {
  display: flex;
}
.tour-detail-info {
  width: 60%;
  text-align: justify;
}
.tour-detail-form {
  width: 40%;
}
.tour-detail-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tour-detail-form form input,
.address-field {
  width: 80%;
  margin-top: 20px;
  outline: 0;
  border: 1px solid gray;
  padding: 5px;
  border-radius: 5px;
}
