#logo {
  padding: 10px;
}
.nav-item {
  display: flex;
  align-items: center;
}

.nav-item a {
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  border-radius: 3px;
  text-transform: capitalize;
  padding: 5px 10px;
}

.nav-item a:hover {
  background-color: #ea8320;
}

.nav-item .btn-logout:hover,
.nav-item .btn-login:hover {
  background-color: #c07315;
  color: white;
}

.btn-logout {
  background-color: #ea8320;
  border: none;
  color: white;
  border-radius: 3px;
  padding: 5px 10px;
}
.btn-login {
  background-color: #ea8320;
  color: white;
}
