#logo {
  padding: 20px;
}
.nav-item {
  display: flex;
  align-items: center;
}
.nav-item a {
  margin-right: 20px;
  font-size: 18px;
  /* background-color: rgb(27, 54, 52); */
  font-weight: 400;
  text-decoration: none;
  margin-right: 15px;
}

.nav-item a:hover {
  background-color: #ea8320;
}

.btn-logout {
  background-color: #ea8320;
  border: none;
  color: white;
  /* border-radius: 3px; */
  padding: 10px;
}
.btn-login {
  background-color: #ea8320;
  border: none;
  color: white;
  /* border-radius: 3px; */
  padding: 10px;
}
