.tour-card {
  transition: all 500ms ease;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.card-image {
  border-radius: 10px;
  transition: 0.5s;
}
.tour-card:hover .card-image {
  transform: scale(1.1);
}
.tour-title {
  font-size: 15px !important;
}
.duration {
  font-weight: 400;
  font-size: 12px;
  background-color: #f68b1f24;
  padding: 2px 10px;
  border-radius: 25px;
  color: #f37900;
}

.price {
  color: #f6891f;
  font-size: 18px;
  font-weight: 600;
}

.btn-book {
  background-color: #f8a659;
  color: white;
  outline: 0;
  border: 0;
  border-radius: 25px;
  padding: 2px 15px;
  font-size: 14px;
}
.btn-book:hover {
  background-color: #b9783b;
}
