.tour-card {
  /* border: 2px solid #ea8320; */
  transition: all 500ms ease;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.card-image {
  border-radius: 10px;
  transition: 0.5s;
}
.tour-card:hover .card-image {
  transform: scale(1.1);
}

.btn-book {
  background-color: #ea8320;
  color: white;
  outline: 0;
  border: 0;
  padding: 5px 10px;
  border-radius: 4px;
  font-weight: 600;
  padding: 7px 15px;
  font-size: 18px;
}
.btn-book:hover {
  background-color: #b4651b;
}
.duration {
  color: #ea8320;
  font-weight: bold;
}

.price {
  color: #f6891f;
  font-size: 20px;
  font-weight: 700;
}
