.slider {
  background-color: black;
}

.slider-caption {
  background-color: rgba(0, 0, 0, 0.301);
  /* padding: 0px 30px; */
  border-radius: 10px;
}
.slider h1 {
  font-size: 3vw;
}
.cyclone {
  color: #f6891f;
  font-size: 5vw;
}
